#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 100vw;
}

#register-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

#add-task-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: fit-content;
  width: fit-content;
  z-index: 9999; 
}

#generated-time-card{
  width: 20vw;
}

#add-member-card{
  width: 60vw;
}

#username {
  width: 15em;
}
#username-label {
  width: 12em;
}
#password-label {
  width: 12em;
}
#password {
  width: 15em;
}
#confirm-password-label{
  width: 12em;
}
#confirm-password{
  width: 15em;
}
.close-popup{
  position: absolute;
  width: 2em;
  right: 1%
}

.task-card{
  transition: transform 0.1s ease-in-out;
  margin: 1em;
}

.task-card:hover {
  transform: scale(1.02);
}

.read-the-docs {
  color: #888;
}

.form-label{
  width: 12em
}

.form-field{
  width: 15em
}

.form-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em
}

.project-name {
  font-weight: 700;
  padding-right: 2em;
}

.project-attributes {
  padding-right: 2em;
}

.task-name {
  font-weight: 700;
}

.task-buttons {
  position: absolute;
  top: 1%;
  right: 1%;
}
.task-switch {
  position: absolute;
  top: 1%;
  left: 1%;
}
.switch-button {
  margin: .5em;
}
.edit-button {
  margin: .5em;
}
.delete-button {
  margin: .5em;
}