#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#register-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

#username {
  width: 15em;
}
#username-label {
  width: 12em;
}
#password-label {
  width: 12em;
}
#password {
  width: 15em;
}
#confirm-password-label{
  width: 12em;
}
#confirm-password{
  width: 15em;
}

.task-card{
  transition: transform 0.1s ease-in-out;
}

.task-card:hover {
  transform: scale(1.02);
}

.read-the-docs {
  color: #888;
}

.project-name {
  font-weight: 700;
  padding-right: 2em;
}

.project-attributes {
  padding-right: 2em;
}

.task-name {
  font-weight: 700;
}

.task-buttons {
  position: absolute;
  top: 1%;
  right: 1%;
}
.edit-button {
  margin: .5em;
}
.delete-button {
  margin: .5em;
}